html, body {
    padding: 0;
    padding-top: 0.9vw;
    padding-left: 0.9vw;
    padding-bottom: 0.9vw;
    margin: 0; 
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #ffffff;
  height: 90vh;
}



/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 24.1vw;
  height: 22vh;
  float: left;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  align-items: center;
}
a{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    align-items: center;
}

.grid-item--width2 { width: 48.2vw; }
.grid-item--width3 { width: 72.3vw; }
.grid-item--width4 { width: 100vw; }

.grid-item--height2 { height: 46vh; }
.grid-item--height3 { height: 75vh; }
.grid-item--height4 { height: 100vh; }
